<h1 id="songs_header">SongBook</h1>
<% @songs.each do |song| %>
  <div class="song">
    <h3 class="song_title"><%= song.title %> <small>(by: <%= song.artist %>)</small></h3>
    <p>
      <%= song.description %>
    </p>
     <!-- <p>
      <%= song.id %>
    </p> -->
    <p>
      <%= song.url %>
    </p>
    <div id= "image1">
    </div>
    </p>
  </div>
<% end %>

<div class="footer">
  <hr>
  <a class="post" data-popup-open="popup-1" href="#">Post a Song</a>
  <div class="popup" data-popup="popup-1">
      <div class="popup-inner">
          <h2 id="post_header">Post a Song:</h2>
   <hr/>
            <form method="post" action="/songs">
              <div id="artist">
                <label>Artist:</label>
                <input type="text" name="artist" required>
              </div>
              <div id="title">
                <label>Title:</label>
                <input type="text" name="title" required>
              </div>
              <!-- <div id="description">
                <label>Description:</label>
                <input type="text" name="description">
              </div> -->
              <div id="url">
                <label>URL:</label>
                <input type="text" name="url">
              </div>
             <!--  <div id="image">
                <label>Image:</label>
                <input type="text" name="image">
              </div> -->
              <div id="submit">
                <input type="submit" value="Submit">
              </div>
              <a href="/songs"><div id="back">Back to Songs</div></a>
            </form>
          <p id="close"><a data-popup-close="popup-1" href="#">Close</a></p>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
      </div>
    </div>


<a class="remove" data-popup-open="popup-2" href="#">Remove a song</a>
    <div class="popup2" data-popup="popup-2">
      <div class="popup-inner2">
          <h2 id="post_header2">Remove a Song:</h2>
         <form action="/songs/title/delete" method="post">
            <input type="hidden" name="_method" value="delete">
              <div id="song_id">
                <label>Title:</label>
                <input type="text" name="title" required>
              </div>
              <div id="song_artist">
                <label>Artist</label>
                <input type="text" name="artist" required>
              </div>
              <button type="submit" id="delete">Delete</button>
              <a href="/songs"><div id="back">Back to Songs</div></a>
            </form>
          <p id="close"><a data-popup-close="popup-2" href="#">Close</a></p>
        <a class="popup-close" data-popup-close="popup-2" href="#">x</a>
  </div>
</div>

<!-- error:
if fields empty, error message in modal  -->

<a class="login" href="#">Login</a>  
<!-- ^^To be implemented later -->

